/* skilltree */
.skill-node {
    user-select: none; //Textmarkierung deaktiviert
}

.category-node {
    user-select: none; //Textmarkierung deaktiviert
}

/* Für die Buttons */
.button {
    user-select: none; //Textmarkierung deaktiviert
}
.bottom-sticky {
    position: fixed;
    bottom: 20px;
}
.top-sticky {
    position: fixed;
    top: 20px;
}

.setting-button {
    bottom: 20px;
}
.submit-button {
    bottom: 20px;
    right: 20px;
}

.hidden {
    display: none;
}

form.skilltree-container {
    height: 100vh; /* Verwendet 100% der Höhe des Anzeigebereichs */
    width: 100%; /* Verwendet 100% der Breite des Anzeigebereichs */
    overflow-y: scroll; /* Zeigt eine Scrollleiste an, wenn der Inhalt die Höhe des Containers überschreitet */
    overflow-x: hidden; /* Versteckt die horizontale Scrollleiste, falls nicht benötigt */
    position: absolute; /* Position relativ, damit absolute positionierte Kinder relativ dazu positioniert werden */
}


.category-node{
    position: absolute;
    width: 100px;  /* Adjusted size */
    height: 100px;  /* Adjusted size */
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00B2C4; /* Default color */
    color: black;  /* Font color */
}

.skill-node {
    position: absolute;
    width: 90px;  /* Adjusted size */
    height: 90px;  /* Adjusted size */
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a9a9a9; /* Default color */
    color: black;  /* Font color */
}

.skill-node.active {
    background-color: #00B2C4; /* Active color, you can change it */
}

.skill-node.start {
    background-color: #D5641E; /* Active color, you can change it */
    width: 100px;  /* Adjusted size */
    height: 100px;  /* Adjusted size */
    border: 2px solid black;

}

.skill-node.category {
    background-color: #00B2C4; /* Active color, you can change it */
}

.skill-node.custom {
    background-color: #69a5a9; /* Custom color, you can change it */
}

.skill-node.hidden {
    display: none;
}

/* Add a new class for the lines between skills */
.skill-connection {
    position: absolute;
    background-color: black; /* Line color */
    z-index: -1;  /* Place the lines behind the nodes */
    pointer-events: none;  /* Ensure lines do not block mouse interaction with nodes */
    width: 2px;  /* Set a default width for the lines */
    transform-origin: top;  /* Set the rotation origin to the top */
}

/* startingpage */

.welcome-container {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}

.button {
    position: absolute;
    display: inline-block;
    padding: 10px 20px;
    background-color: #00B2C4;
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-top: 20px;
    border-radius: 5px;
}

.buttons-container {
    position: absolute; /* Positionierung relativ zum übergeordneten .category-node */
    top: 68%; /* Platzieren Sie den Container direkt unterhalb des Namens */
    left: 50%; /* Zentrieren Sie den Container horizontal */
    transform: translateX(-50%); /* Zentrieren Sie den Container horizontal relativ zur Breite */
    display: flex;
    flex-direction: row;
}

.button:hover {
    background-color: #00B2C4;
    transform: scale(1.1);
}

.add-skill-button {
    display: none; /* Der Button ist standardmäßig ausgeblendet */
    padding: 1px;
    right: -15px; /* Abstand vom rechten Rand des .skill-node */
    top:0%; /* Zentrieren Sie den Button vertikal im .skill-node */
    background-color: green; /* Transparenter Hintergrund */
    text-decoration: none;
    font-size: 18px;
    border-radius: 20px;
    color: black;  /* Font color */
}
.add-skill-button:hover {
    background-color: green;
}

.category-node:hover .add-skill-button {
    display: inline-block; /* Der Button wird angezeigt, wenn die Kategorie mit der Maus überfahren wird */
}

.delete-skill-button {
    display: none; /* Der Button ist standardmäßig ausgeblendet */
    padding: 2px;
    right: -15px; /* Abstand vom rechten Rand des .skill-node */
    top:0%; /* Zentrieren Sie den Button vertikal im .skill-node */
    background-color: transparent; /* Transparenter Hintergrund */
    text-decoration: none;
    font-size: 18px;
    border-radius: 20px;
    color: red;  /* Font color */
}

.delete-skill-button:hover {
    background-color: black;
}
.skill-node:hover .delete-skill-button {
    display: inline-block; /* Der Button wird angezeigt, wenn die Kategorie mit der Maus überfahren wird */
}

.back-button {
    top: 10px;
    left: 10px;
}

.next-button {
    top: 10px;
    right: 10px;
}

/* Experience */
.experience-display {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #ffffff;  /* Textfarbe anpassen */
    font-size: 12px;  /* Schriftgröße anpassen */
    background-color: #000000;  /* Hintergrundfarbe anpassen */
    padding: 2px 5px;  /* Innenabstand anpassen */
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #3E3E3E;
    font-size: 13px;
    color: white;
}

/* Character*/
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: top;
    justify-content: flex-start;
    padding-top: 20px;
    color: white;
}
.fields-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    width: 40%;
}
.submit-container {
    width: 100%;
    margin-top: 20px;
    text-align: center;
}
.image-container {
    left: 200px;
    display: flex;
    width: 160px;
    position: relative;
    height: 200px;
    justify-content: center;
    align-items: center;
}

#image-upload-label {

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #3E3E3E; /* Hintergrundfarbe des Labels */
    border: 2px dashed #ccc; /* Gestrichelter Rahmen um das Label */
    border-color: white;
    cursor: pointer;

}
#image-upload-label img {
    width: 160px; /* Breite des Icons anpassen */
    height: 200px; /* Höhe des Icons anpassen */
}

.field {
    position: relative;
}
.field-radio {
    display: flex;
    align-items: center;
}
.field-radio label {
    margin-right: 10px;
    color: #D5641E;
}
.field input {
    color: #D5641E;
    background: none;
    padding: 0.625rem;
    border: 2px solid #D5641E;
    border-radius: 5px;
}
.field label {
    position: absolute;
    top: 0;
    left: 0;
    translate: 0.625rem 0.625rem;
    color: #D5641E;
    background-color: transparent;
    padding-inline: 0.25rem;
    border: 2px solid D5641E;
    border-radius: 5px;
    pointer-events: none;
    transition: translate 250ms,
                background-color 250ms,
                border-color 250ms;
}
.field:focus-within label,
.field:not(:has(:placeholder-shown)) label {
    translate: 0.625rem -1rem;
    border-color: #030104;
}
.field ::placeholder {
    color: transparent;
}


