<!-- Character.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creating your Character</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="form-container">
        <form autocomplete="off" method="post" action="/process_character" enctype="multipart/form-data">
            <div class="welcome-container">
                <h1>Creating your Character</h1>

            </div>
            <div class="fields-container">
                <div class="fields-column">
                    <div class="field">
                        <input type="text" id="firstName" name="firstName" placeholder="..." value="{{ first_name }}" />
                        <label for="firstName">First Name</label>
                    </div>
                    <div class="field">
                        <input type="text" id="lastName" name="lastName" placeholder="..." value="{{ last_name }}" />
                        <label for="lastName">Last Name</label>
                    </div>
                    <div class="field">
                        <input type="date" id="birthDate" name="birthDate" placeholder="..." value="{{ birth_date }}"/>
                        <label for="birthDate">Birth Date</label>
                    </div>
                    <div class="field">
                        <input type="text" id="country_of_birth" name="country_of_birth" placeholder="..." value="{{ country_of_birth }}" />
                        <label for="country_of_birth">Country of birth</label>
                    </div>
                    <div class="field">
                        <input type="text" id="phone" name="phone" placeholder="..." value="{{ phone }}" />
                        <label for="phone">Phone</label>
                    </div>
                    <div class="field">
                        <input type="text" id="address" name="address" placeholder="..." value="{{ address }}" />
                        <label for="address">Address</label>
                    </div>
                    <div class="field">
                        <input type="text" id="email" name="email" placeholder="..." value="{{ email }}" />
                        <label for="email">Email</label>
                    </div>

                    <div class="field-select">
                        <label for="gender" class="select-label">Gender</label>
                        <select id="gender" name="gender" class="select-dropdown">
                            <option value="" disabled selected hidden>Gender</option>
                            <option value="male" {% if session.get('gender') == 'male' %} selected {% endif %}>Male</option>
                            <option value="female" {% if session.get('gender') == 'female' %} selected {% endif %}>Female</option>
                            <option value="other" {% if session.get('gender') == 'other' %} selected {% endif %}>Other</option>
                        </select>
                    </div>
                </div>
                <div class="fields-column">
                    <div class="image-container">
                        <input type="file" id="image-upload" name="image" accept="image/jpeg, image/png">
                        <label for="image-upload" id="image-upload-label">
                            {% if image_name is not none and image_name != '' %}
                                <img id="uploaded_image" src="{{ url_for('static', filename='temp_uploads/' + session.get('user_folder') + '/' + session.get('image_name')) }}" alt="Character Image">
                            {% else %}
                                <img id="uploaded-image" src="{{ url_for('static', filename='upload.svg') }}" alt="Upload image">
                            {% endif%}
                        </label>
                    </div>
                </div>

            </div>
            <div class="info-icon">
                <div class="tooltip">
                    <p>Hint: </p>
                </div>
            </div>
            <div class="button-container">
                <button type="submit" formaction="/process_character" class="button next-button">Next</button>
            </div>
        </form>

    </div>

    <script>
        document.getElementById('image-upload').addEventListener('change', function(event) {
            const file = event.target.files[0];
            const formData = new FormData();
            formData.append('image', file);

            fetch('/save_image_data', {
                method: 'POST',
                body: formData
            }).then(response => {
                if (response.ok) {
                    console.log('Bild erfolgreich gespeichert.');
                    const image = document.getElementById('uploaded-image');
                    const uploadedImage = document.getElementById('uploaded_image');
                    const reader = new FileReader();
                    if (uploadedImage != null) {
                        reader.onload = function(e) {
                            uploadedImage.src = e.target.result;
                        };
                    }else {
                        reader.onload = function(e) {
                            image.src = e.target.result;
                        };
                    }
                    reader.readAsDataURL(file);
                } else {
                    console.error('Fehler beim Speichern des Bildes.');
                }
            });
        });

    </script>
</body>
</html>
