<!-- index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Herzlich Willkommen</title>
    <link rel="stylesheet" href="/static/styles.css">

</head>
<body>
    <div class="landing-container">
        <h1>Welcome to the application generator</h1>
    <div class="container">
        <button type="submit" id="nextButton" class="button next-button">Next</button>
    </div>


    </div>
    <script>
        document.getElementById('nextButton').addEventListener('click', function(event) {
            window.location.href = "{{ url_for('character') }}";
        });
    </script>
</body>
</html>
